# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
.env/
.venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Packaging/build
*.egg-info/
dist/
build/
.eggs/

# mypy
.mypy_cache/

# Pyre
.pyre/

# Logging
*.log
logs/

#Specific to this project
*.m3u8
*.m3u
/diagnostics